# Dependencies
node_modules/

# Environment variables
.env

# Playwright
playwright-report/
playwright/.cache/
test-results/
*.png

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Coverage
coverage/

allure-results/
allure-report/
